# BEGIN HMWP_RULES
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^([_0-9a-zA-Z-]+/)?newlogin$ /wp-login.php [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?newlogin/(.*) /wp-login.php$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?lostpass$ /wp-login.php?action=lostpassword [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?register$ /wp-login.php?action=register [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/a70883cfea/(.*) /wp-content/plugins/crocoblock-activator/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/f65f29574d/(.*) /wp-content/plugins/elementor/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/ccc473c329/(.*) /wp-content/plugins/elementor-pro/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/c929c4640f/(.*) /wp-content/plugins/ewebtechs-sajid-dashboard-1/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/f56304141c/(.*) /wp-content/plugins/fluent-crm/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/21f3526941/(.*) /wp-content/plugins/fluentcampaign-pro/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/2a5e26e2a3/(.*) /wp-content/plugins/fluentform/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/bc1a610973/(.*) /wp-content/plugins/fluent-smtp/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/2796994f94/(.*) /wp-content/plugins/hostinger-ai-assistant/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/94ead66b2c/(.*) /wp-content/plugins/hostinger-easy-onboarding/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/036711803a/(.*) /wp-content/plugins/hostinger/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/ded0dced2e/(.*) /wp-content/plugins/image-optimization/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/8d471ad8bf/(.*) /wp-content/plugins/jet-appointments-booking/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/7f5279151d/(.*) /wp-content/plugins/jet-blocks/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/6288320f55/(.*) /wp-content/plugins/jet-engine/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/89e8b50d02/(.*) /wp-content/plugins/jetformbuilder/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/7879f887a8/(.*) /wp-content/plugins/jet-menu/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/f48a55153b/(.*) /wp-content/plugins/jet-popup/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/5fd970fc4b/(.*) /wp-content/plugins/jet-style-manager/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/43c0f324e3/(.*) /wp-content/plugins/jet-theme-core/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/966a9fe7d2/(.*) /wp-content/plugins/litespeed-cache/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/6d42aa5957/(.*) /wp-content/plugins/user-role-editor/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/8d859dbef1/(.*) /wp-content/plugins/user-switching/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/39d10ee62c/(.*) /wp-content/plugins/woocommerce/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/d0f4711431/(.*) /wp-content/plugins/hide-my-wp/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/modules/(.*) /wp-content/plugins/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/views/8c8e61193b/design.css$ /wp-content/themes/hostinger-ai-theme/style.css [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/views/8c8e61193b/(.*) /wp-content/themes/hostinger-ai-theme/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/views/f5b768225a/design.css$ /wp-content/themes/kava/style.css [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/views/f5b768225a/(.*) /wp-content/themes/kava/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/views/ff55dedaeb/design.css$ /wp-content/themes/twentytwentyfive/style.css [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/views/ff55dedaeb/(.*) /wp-content/themes/twentytwentyfive/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/views/51a12ba5b2/design.css$ /wp-content/themes/twentytwentyfour/style.css [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/views/51a12ba5b2/(.*) /wp-content/themes/twentytwentyfour/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/views/(.*) /wp-content/themes/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?storage/(.*) /wp-content/uploads/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?core/(.*) /wp-content/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?lib/(.*) /wp-includes/$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?comments/(.*) /wp-comments-post.php$2 [QSA,NC,L]
RewriteRule ^([_0-9a-zA-Z-]+/)?writer/(.*) /author/$2 [QSA,NC,L]
</IfModule>
# END HMWP_RULES
# BEGIN HMWP_VULNERABILITY
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_URI} !/wp-admin [NC]
RewriteCond %{QUERY_STRING} ^author=\d+ [NC]
RewriteRule ^(.*)$ - [L,R=404]
</IfModule>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REMOTE_ADDR} ^35.214.130.87$ [NC,OR]
RewriteCond %{REMOTE_ADDR} ^192.185.4.40$ [NC,OR]
RewriteCond %{REMOTE_ADDR} ^15.235.50.223$ [NC,OR]
RewriteCond %{REMOTE_ADDR} ^172.105.48.130$ [NC,OR]
RewriteCond %{REMOTE_ADDR} ^167.99.233.123$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (wpthemedetector|builtwith|isitwp|wapalyzer|mShots|WhatCMS|gochyu|wpdetector|scanwp) [NC]
RewriteRule ^(.*)$ - [L,R=404]
</IfModule>
<IfModule mod_headers.c>
Header always unset x-powered-by
Header always unset server
ServerSignature Off
</IfModule>
<IfModule mod_headers.c>
Header set Strict-Transport-Security "max-age=15768000;includeSubdomains"
Header set Content-Security-Policy "object-src 'none'"
Header set X-XSS-Protection "1; mode=block"
</IfModule>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REMOTE_ADDR} !^127.0.0.1$
RewriteCond %{REMOTE_ADDR} !^91.108.103.191$
RewriteCond %{HTTP:Cookie} !(wordpress_logged_in_|hmwp_logged_in_) [NC]
RewriteCond %{REQUEST_URI} ^/wp-content/?$ [NC,OR]
RewriteCond %{REQUEST_URI} ^/wp-content/[^\.]+/?$ [NC,OR]
RewriteCond %{THE_REQUEST} /wp-includes/?$ [NC,OR]
RewriteCond %{THE_REQUEST} /wp-content/plugins/[^\.]+(\.php|\.htm|\.html|\.rtf|\.rtx|\.txt|\.lock) [NC,OR]
RewriteCond %{THE_REQUEST} /wp-content/themes/[^\.]+(\.php|\.htm|\.html|\.rtf|\.rtx|\.txt|\.lock)    [NC,OR]
RewriteCond %{THE_REQUEST} /wp-content/uploads/[^\.]+(\.php|\.htm|\.html|\.rtf|\.rtx|\.txt|\.lock) [NC,OR]
RewriteCond %{THE_REQUEST} /wp-includes/[^\.]+(\.php|\.htm|\.html|\.rtf|\.rtx|\.txt|\.lock) [NC,OR]
RewriteCond %{THE_REQUEST} /([_0-9a-zA-Z-]+/)?(wp-config-sample\.php|readme\.html|readme\.txt|install\.php|license\.txt|php\.ini|bb-config\.php|error_log|debug\.log) [NC]
RewriteRule ^(.*)$ - [L,R=404]
</IfModule>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_URI} /(wp-config-sample\.php|readme\.html|readme\.txt|install\.php|license\.txt|php\.ini|bb-config\.php|error_log|debug\.log) [NC]
RewriteRule ^(.*)$ - [L,R=404]
</IfModule>
# END HMWP_VULNERABILITY
# BEGIN LSCACHE
## LITESPEED WP CACHE PLUGIN - Do not edit the contents of this block! ##
<IfModule LiteSpeed>
RewriteEngine on
CacheLookup on
RewriteRule .* - [E=Cache-Control:no-autoflush]
RewriteRule litespeed/debug/.*\.log$ - [F,L]
RewriteRule \.litespeed_conf\.dat - [F,L]

### marker ASYNC start ###
RewriteCond %{REQUEST_URI} /wp-admin/admin-ajax\.php
RewriteCond %{QUERY_STRING} action=async_litespeed
RewriteRule .* - [E=noabort:1]
### marker ASYNC end ###

### marker MOBILE start ###
RewriteCond %{HTTP_USER_AGENT} Mobile|Android|Silk/|Kindle|BlackBerry|Opera\ Mini|Opera\ Mobi [NC]
RewriteRule .* - [E=Cache-Control:vary=%{ENV:LSCACHE_VARY_VALUE}+ismobile]
### marker MOBILE end ###

### marker WEBP start ###
RewriteCond %{HTTP_ACCEPT} image/webp [OR]
RewriteCond %{HTTP_USER_AGENT} iPhone\ OS\ (1[4-9]|[2-9][0-9]) [OR]
RewriteCond %{HTTP_USER_AGENT} Firefox/([6-9][0-9]|[1-9][0-9]{2,})
RewriteRule .* - [E=Cache-Control:vary=%{ENV:LSCACHE_VARY_VALUE}+webp]
### marker WEBP end ###

### marker DROPQS start ###
CacheKeyModify -qs:fbclid
CacheKeyModify -qs:gclid
CacheKeyModify -qs:utm*
CacheKeyModify -qs:_ga
### marker DROPQS end ###

</IfModule>
## LITESPEED WP CACHE PLUGIN - Do not edit the contents of this block! ##
# END LSCACHE
# BEGIN NON_LSCACHE
## LITESPEED WP CACHE PLUGIN - Do not edit the contents of this block! ##
### marker BROWSER CACHE start ###
<IfModule mod_expires.c>
ExpiresActive on
ExpiresByType application/pdf A31557600
ExpiresByType image/x-icon A31557600
ExpiresByType image/vnd.microsoft.icon A31557600
ExpiresByType image/svg+xml A31557600

ExpiresByType image/jpg A31557600
ExpiresByType image/jpeg A31557600
ExpiresByType image/png A31557600
ExpiresByType image/gif A31557600
ExpiresByType image/webp A31557600
ExpiresByType image/avif A31557600

ExpiresByType video/ogg A31557600
ExpiresByType audio/ogg A31557600
ExpiresByType video/mp4 A31557600
ExpiresByType video/webm A31557600

ExpiresByType text/css A31557600
ExpiresByType text/javascript A31557600
ExpiresByType application/javascript A31557600
ExpiresByType application/x-javascript A31557600

ExpiresByType application/x-font-ttf A31557600
ExpiresByType application/x-font-woff A31557600
ExpiresByType application/font-woff A31557600
ExpiresByType application/font-woff2 A31557600
ExpiresByType application/vnd.ms-fontobject A31557600
ExpiresByType font/ttf A31557600
ExpiresByType font/otf A31557600
ExpiresByType font/woff A31557600
ExpiresByType font/woff2 A31557600

</IfModule>
### marker BROWSER CACHE end ###

## LITESPEED WP CACHE PLUGIN - Do not edit the contents of this block! ##
# END NON_LSCACHE
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
